services:

  mongo: 
    image: mongo:4.2.16-bionic
    ports:
      - 27017:27017
    environment: 
      MONGO_INITDB_ROOT_USERNAME: ghome
      MONGO_INITDB_ROOT_PASSWORD: ghome123
    command: --auth
    volumes:
      - ./docker/mongo/init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js
      - mongo-data:/data/db
  
  postgresql:
    image: bitnami/postgresql:13.16.0
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=root  
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=eletrocado-api

  redis:
    image: bitnami/redis:latest
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - 6378:6379

volumes:
  mongo-data:

